#kaocha/v1 {:tests [{:id :clj
                     :skip-meta [:integration]}
                    {:id :integration
                     :test-paths ["test"]
                     :focus-meta [:integration]}]}
